<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>ChocoDelícia - Loja de Chocolates</title>

<style>

body{
font-family: Arial;
margin:0;
background:#f5e6d3;
}

header{
background:#4b2e2e;
color:white;
padding:20px;
text-align:center;
}

nav{
background:#6b3e26;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

.container{
padding:30px;
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}
.serviços{
padding:30px;
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}
.produto{
background:white;
padding:20px;
border-radius:10px;
width:200px;
text-align:center;
box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}

.produto img{
width:100%;
border-radius:10px;
}

button{
background:#8b4513;
color:white;
border:none;
padding:10px;
margin-top:10px;
cursor:pointer;
border-radius:5px;
}

footer{
background:#4b2e2e;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}

</style>
</head>

<body>


<header>
<h1>🍫 ChocoDelícia</h1>
<p>Os melhores chocolates artesanais</p>
</header>
<nav>
    <a href="/">Home</a>
    <a href="/sobre/1">Sobre</a>
    <a href="/contato/1">Contato</a>
    <a href="/servicos/1">Serviços</a>
</nav>
<div class="serviços">
 <h3>Nossos serviços</h3>
 <P>A ChocoDelicia tem o prazer em satisfazer os desejos mais selvagens de nossos clientes, com dedicação, carinho e muito creme branco</P>
 <p>Estamos desde 1930 criando chocolates artesanais para eventos corporativos, encontros LGBT, despedidas de solteiro e muito mais!</p>
 <p>ChocoDelicia, expert em chocolates finos com formato de pênis no Brasil e o nosso lema é: temos de todas as cores, formas e sabores!</p>
</div>

<footer>
<p>© 2026 ChocoDelícia</p>
</footer>

</body>
</html>
</html>